/* Features.css */

.container {
  padding: 64px 0;
}

.title {
  color: #000;
}

.description {
  color: #555;
  margin-bottom: 16px;
}

.grid-item {
  gap: 8px;
  display: auto;
}

.card {
  display: auto;
  margin-top: 16px;
}

.card-image {
  background-size: cover;
  background-position: center;
  min-height: 280px;
}

.card-content {
  padding: 16px;
}

.card-title {
  color: #000;
  font-weight: 500;
}

.card-description {
  color: #555;
  margin-bottom: 12px;
}

.learn-more-link {
  color: #1976d2;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
}

.learn-more-icon {
  margin-top: 1px;
  margin-left: 2px;
  transition: 0.2s;
}

.learn-more-link:hover .learn-more-icon {
  transform: translateX(2px);
}

.stack {
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  display: flex;
}

.stack-card {
  padding: 24px;
  height: fit-content;
  width: 100%;
  background: none;
}

.stack-card:hover {
  background: linear-gradient(to bottom right, hsla(210, 100%, 97%, 0.5) 25%, hsla(210, 100%, 90%, 0.3) 100%);
  border-color: #1976d2;
  box-shadow: 0px 2px 8px hsla(0, 0%, 0%, 0.1);
}

.stack-card-selected {
  background-color: #e0f7fa;
  border-color: #1976d2;
}

.stack-card-icon {
  color: #b0bec5;
}

.stack-card-icon-selected {
  color: #1976d2;
}

.stack-card-title {
  color: #000;
  font-weight: 500;
}

.stack-card-description {
  color: #555;
  margin-bottom: 12px;
}
